<!DOCtype html>
<html>
  <head>
      <link href="about.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1> About This Project</h1>
    <p> For this project, my partners and i decided to create
        a game based on the book we're reading in pm english
        class named <i>A Darker Shade Of Magic</i>. The book is about
        magic consuming a world the characters live in and they're
        on a quest to defeat evil.The book features magic so
        we decided to incorporate that in the game. The game is for
        two players, and the goal is to defeat the other player using
        the powers of the characters in the book. The characters in
        the game are Kell, Lila, Holland, and Astrid. These characters
        were chosen because they are main characters in the book. Kells
        power is to shoot fire balls at the other player. Lilas power
        is she uses a fire arm to shoot at the opposite opponent. Hollands
        power is the dark, and Astrids power is ice. These powers were
        chosen for these characters because kell in the book has orange
        hair and wears all red so we thought fire would suit him, Lilas
        character in the book owns a gun, Holland in the book is an antari
        which means he's able to control all magic even the magic of the
        flesh, Astrids character in the book is dressed in all white so we
        made her power ice because we thought it fit her best. The backgrounds
        in the game are all of the londons because in the book there are
        three and each are a very important part of the book. The languages
        we used to create this game are javascript, ruby, and html & css. What
        i took away from helping create this game is i learned more about coding
        and what goes behind making everything that works, for example, i had to
        create buttons and make them work which i've never done before, just those
        little buttons made me appreciate websites more because i think people take
        advantage of going on a website and clicking away on the buttons on screen,
        not acknowledging that it was handmade by someone behind that website.
        Also, working on this project made me less lazy because i was determined
        to finish and make it look the best it could look. The thing i enjoy most
        about the game is that each background is a different london which makes
        it more relatable to the book which i think is important because each london
        is such an important part of the book.</p>
  </body>
</html>
