<link href="index.css" rel="stylesheet" type="text/css">
<h1 id="player1" style="display: none;"><%= @player1 %></h1>
<h1 id="player2" style="display: none;"><%= @player2 %></h1>
<canvas id="ctx" width="1000" height="488" style="border: 1px solid #191919; background-image: url(<%= @background %>);"></canvas>
<audio autoplay loop id="bgMusic">
  <source src="<%= @audio %>" type="audio/mpeg">
</audio>
<audio id="soundEffect1">
  <source src="" type="audio/mpeg">
</audio>
<audio id="soundEffect2">
  <source src="" type="audio/mpeg">
</audio>
<script src="scripts/game.js"></script>
