<!DOCTYPE html>
<html>
  <head>
    <title> A Darker Shade of Magic </title>
    <link href="layout.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="gameContainer">
      <%= yield %>
    </div>
  </body>
</html>
