body {
  margin: 0%;
  font-family: sans-serif;
  background-image: url("images/background9.jpg");
  background-size: 12%;
  color: white;
}

#gameContainer {
  margin-left: 12%;
  margin-top: 2%;
}

.button {
  background-color:#336699;
  display: inline-block;
  padding-top: 8%;
  padding-right:10%;
  padding-bottom:8%;
  padding-left: 10%;
  border-radius: .5vw;
  text-align: center;
  width: auto;
  font-size: 1vw;
}

#p1 {
  margin-left: 12%;
  width: 30%;
  display: inline-block;
}

#p2 {
  margin-right: 5%;
  width: 30%;
  display: inline-block;
  float: right;
}

#controls1 {
  display:inline-block;
  width: 50%;
}

#special-attacks1 {
  display: inline-block;
  width: 50%;
  margin-left:-4%;
}

#controls2 {
   display: inline-block;
   width:50%;
}

#special-attacks2 {
  display: inline-block;
  width: 50%;
  margin-left:-4%;
}

.playername {
  font-size: 1.7vw;
}

.playername {
  font-size: 1.7vw;
}

.gamename {
  font-size: 2.4vw;
  margin-left: 35%;
}

.changecharacters {
  font-size: 1.5vw;
  margin-left: 12%;
  margin-bottom: 0%;
  color: black;
  background-color:#ffff00;
  padding-top: 1%;
  padding-right:2%;
  padding-bottom:1%;
  padding-left: 2%;
  border-radius: .5vw;
  text-decoration: none;
  font-weight: bold;
}
